
@keyframes open{
	0%{opacity: 0}
	10%{opacity:0.1}
	25%{opacity:0.25}
	40%{opacity: 0.4}
	50%{opacity: 0.5}
	60%{opacity:0.6}
	75%{opacity:0.75}
	100%{opacity: 1}
}
body{
	animation: open 2s;
}
.join-title{
	text-align: center;
	font-size: 25px;
}
.table{
	background-color: rgba(0,0,0,0.00);
}
tr{
	background-color: rgba(0,0,0,0.00);
}
tr td{
	background-color: rgba(0,0,0,0.00);
}
input,textarea{
	background-color: rgba(0,0,0,0.00);
	color:white;
	border: solid 0.5px ;
	border-radius: 6px;
	height: 20px;
	padding: 5px;
	margin: 4px;
	resize: none;
}
textarea{
	height: 50px;
}
input[type="button"]{
	width: auto;
	height: 40px;
	padding: 10px 15px;
}
input[type="reset"]{
	width: auto;
	height: 40px;
	padding: 10px 15px;
}
input[type="button"]:hover{
	background-color:white;
	color: black;
}
input[type="reset"]:hover{
	background-color:white;
	color: black;
}